/*GENERAL*/
@media only screen and (min-width: 993px){
	.container {width: 98%;    max-width: 98%;}
}
/*GENERAL END*/

/*HEADER*/
header h1.logo-wrapper{margin: 0px 0px;}
header h1 span.logo-text{display: none;}
header .brand-logo {margin: 1px 0px;padding: 0 20px;}
header .brand-logo img{width: 172px;}
header .menu-sidebar-collapse{margin: 0 10px;}
header .menu-sidebar-collapse i{line-height: 36px !important;}
header .header-search-wrapper {width: 100%;margin: 10px auto 0px 240px;width: calc(100% - 600px);height: 40px;display: inline-block;position: relative;}
header .header-search-wrapper i {position: absolute;top: 0;font-size: 24px;top: 6px;left: 24px;line-height:32px !important;-webkit-transition: color 200ms ease;transition: color 200ms ease;}
header input.header-search-input {display: block;padding: 8px 8px 8px 72px;width: 100%;background: rgba(255,255,255,0.3);height: 24px;-webkit-transition: all 200ms ease;transition: all 200ms ease;border: none;font-size: 16px;appearance: textfield;font-weight: 400;outline: none;border-radius: 3px;}
header .header-search-input::-webkit-input-placeholder{color:#fff;font-size:16px;font-weight:400}
header .header-search-input::-moz-placeholder{color:#fff;font-size:16px;font-weight:400}
header .header-search-input:-ms-input-placeholder{color:#fff;font-size:16px;font-weight:400}
header .header-search-input::placeholder{color:#fff;font-size:16px;font-weight:400}
header input.header-search-input:hover {background: rgba(255,255,255,0.5);}
header input.header-search-input:focus {color:#333;background: #fff;}
header input.header-search-input:focus {border-bottom: none !important;box-shadow: none !important;}
header .header-search-wrapper-focus  i {color:#444;}
header .header-search-input:focus::-webkit-input-placeholder{color:#333;font-size:16px;font-weight:400}
header .header-search-input:focus::-moz-placeholder{color:#333;font-size:16px;font-weight:400}
header .header-search-input:focus:-ms-input-placeholder{color:#333;font-size:16px;font-weight:400}
header .header-search-input:focus::placeholder{color:#333;font-size:16px;font-weight:400}
header li.search-out:hover{background: transparent;}
header .search-out{display: none;}
header .search-out-text{border-bottom: 1px solid #fff !important;}
header .search-out input[type=text]:focus:not([readonly]){border-bottom: 1px solid #fff !important;box-shadow:none;}
header nav ul li.no-hover:hover{background: none;}

@media only screen and (max-width: 992px) {
  nav .nav-wrapper {text-align: center;}
  nav .nav-wrapper a.page-title {font-size: 36px;}
}
/*HEADER END*/


/*LEFT SIDEBAR*/
.wrapper{}
.wrapper .left-sidebar {position: fixed;width: 100px;left: 180px;z-index: 999;height: auto;}
.wrapper .left-sidebar .side-nav.leftside-navigation {top: 64px;}
.wrapper .left-sidebar .side-nav a {line-height: 42px;height: 42px;}
.wrapper .left-sidebar .side-nav li a i {line-height: inherit;width: 2rem;font-size: 1.6rem;display: block;float: left;text-align: center;margin-right: 1rem;}
.wrapper .left-sidebar .side-nav ul.side-nav li {padding: 0px !important;}
.wrapper .left-sidebar .side-nav li {padding: 0;}
.wrapper .left-sidebar .side-nav .collapsible-header {margin: 0;}
.wrapper .left-sidebar .side-nav.leftside-navigation {overflow: hidden;}
.wrapper .left-sidebar .side-nav.leftside-navigation li {line-height: 44px;}
.wrapper .left-sidebar .side-nav.leftside-navigation li:hover,
.wrapper .left-sidebar .side-nav.leftside-navigation li.active{background-color: rgba(0, 0, 0, 0.05);}
.wrapper .left-sidebar .side-nav.leftside-navigation li a {font-size: 14px;font-weight: 400;}
.wrapper .left-sidebar .side-nav.leftside-navigation .collapsible-body li.active,
.wrapper .left-sidebar .side-nav.fixed.leftside-navigation .collapsible-body li.active{background-color: #FAFAFA;}
.wrapper .left-sidebar .side-nav.leftside-navigation .collapsible-body li.active a,
.wrapper .left-sidebar .side-nav.fixed.leftside-navigation .collapsible-body li.active a{color: #444;}
.wrapper .left-sidebar .side-nav .collapsible-body li a{margin: 0 1rem 0 3rem;}
.wrapper .left-sidebar .side-nav.leftside-navigation ul.collapsible-accordion {background-color: #FFF;}
.wrapper .left-sidebar .side-nav.leftside-navigation li.user-details {background: url(../images/user-bg.jpg) no-repeat center center;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;margin-bottom: 15px;padding: 15px 0px 0px 15px;}
.wrapper .left-sidebar .user-details .row {margin: 0;}
.wrapper .left-sidebar .side-nav.leftside-navigation .profile-btn {margin: 0;text-transform: capitalize;padding: 0;text-shadow: 1px 1px 1px #444;font-size: 15px;}
.wrapper .left-sidebar .user-roal {color: #fff;margin-top: -16px;font-size: 13px;text-shadow: 1px 1px 1px #444;}
.wrapper .left-sidebar .bold > a {font-weight: bold;}

@media only screen and (max-width: 992px) {
  .wrapper .left-sidebar .side-nav.leftside-navigation {top: 56px;}
}
/*LEFT SIDEBAR END*/

/*BREADCRUMBS*/
.breadcrumbs h5{color:#fff;}
/*BREADCRUMBS END*/

/*GRID SYSTEM*/
.col.grid-example {border: 1px solid #eee;margin: 7px 0;text-align: center;line-height: 50px;font-size: 28px;background-color: tomato;color: white;padding: 0;}
/*GRID SYSTEM END*/

/*ICON*/
.favorilize-icon span{vertical-align: super;margin-left:10px;}
/*ICON END*/

/*SHADOW*/
.shadow-demo {background-color: #29b6f6 ;width: 100px;height: 100px;margin: 20px auto;}
/*SHADOW END*/


/* Material Color */
input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {border-bottom: 1px solid #616161;box-shadow: 0 1px 0 0 #616161;}
.dropdown-content li > a, .dropdown-content li > span {color: #616161;}
.btn, .btn-large {background-color: #616161;}
.btn:hover, .btn-large:hover {background-color: #2b2b2b;}
/* Material Color END */